* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%), url(./img/the-witness.webp);
    background-position: 25% 50%;
    background-size: cover;
}

html,
.page {
    height: 100%;
}

.page {
    background-color: lightgrey;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

.subtitle {
    max-width: 500px;
}

.desc {
    font-family: 'Blinker', sans-serif;
    letter-spacing: .5px;
}